name: Continuous Integration

on:
  pull_request:
    branches: main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout NodeJs code
      uses: actions/checkout@v2

    - name: Setup NodeJs env
      uses: actions/setup-node@v3
      with:
        node-version: '20.x'

    - name: Install dependencies
      run: npm i

    - name: Starting time
      run: echo "Starting time `date +%H:%M:%S:%N`"

    - name: Fix in pretteir format
      run: npm run prettier:fix

    - name: Format with eslint
      run: npm run lint
      
    - name: Fix in eslint format
      run: npm run lint:fix

    - name: Simple test 
      run: npm run test
      
    - name: Coverage test
      run: npm run covera
