name: Continuous Integration

on:
  pull_request:
    branches: main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout NodeJs code
      uses: actions/checkout@v2

    - name: Setup NodeJs env
      uses: actions/setup-node@v3
      with:
        node-version: '20.x'

    - name: Install dependencies
      run: npm i

    - name: Format with prettier
      run: npm run prettier
      
    - name: Fix in pretteir format
      run: npm run prettier:fix

